//hero.sass
.hero
    .content
        > h1
            margin-top: $spacing1


//nav.sass
.menu
    .nav-level-1
        > li
            > a
                letter-spacing: 1.2px
                font-size: 1rem
                font-weight: 400

//typography.sass
.lead
    color: #155955
    font-style: italic